<div class="container">
  <h2>Sign Up </h2>
  <div class="container">
    <form (ngSubmit)="onSubmit()" #userSignUpForm="ngForm">
      <div>
        <!-- why for="query"  -->
        <label for="query">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
      </div>
      <div>
        <label for="query">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
      </div>
      <!-- <div>
        <input [(ngModel)]="user.dob" [matDatepicker]="myDatepicker">
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div> -->

      <div>
        <!-- <div>
          <label for="query">dob[testing]</label>
          <input type="text" class="form-control" [(ngModel)]="user.dob" name="dob" required>
        </div> -->

        <div>
          <label for="query">Username</label>
          <input type="text" class="form-control" [(ngModel)]="user.userName" name="userName" required>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" minlength="8" #password="ngModel"
            (copy)="false" (cut)="false" (paste)="false" required>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password must be at least 8 characters
            <!-- Capitalized, special charater -->
          </div>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" appConfirmPassword="password" [(ngModel)]="user.confirmPassword"
            name="confirmPassword" #confirmPassword="ngModel" (paste)="false" required>
          <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
            Password mismatch
          </div>
        </div>
        <div>
          <label for="query">Email</label>
          <input type="text" class="form-control" [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="user.terms" name="terms" required> Confirm that I've read the Terms and Conditions
        </label>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!userSignUpForm.form.valid">Submit</button>
    </form>
  </div>
</div>

<div>
  <h2>Submitted status: {{this.submitted}}</h2>
  <ul>
    <li>firstName: {{user.firstName}}</li>
    <li>lastName: {{user.lastName}}</li>
    <li>dob: {{user.dob}}</li>
    <li>username: {{user.userName}}</li>
    <li>password: {{user.password}}</li>
    <li>confirm password: {{user.confirmPassword}}</li>
    <li>email: {{user.email}}</li>
  </ul>
</div>