<div class="container">
  <div class="signup-form">
    <h2>Sign Up </h2>
    <form (ngSubmit)="onSubmit()" #userSignUpForm="ngForm">
      <div>
        <label for="query">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
      </div>
      <div>
        <label for="query">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
      </div>
      <div>
        <div>
          <label for="query">Username</label>
          <input type="text" class="form-control" [(ngModel)]="user.userName" name="userName" #userName="ngModel" required>
          <div [hidden]="!err || userName.pristine" class="alert alert-danger">
            Username or Email taken
          </div>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password.password" name="password" minlength="8" #password="ngModel"
            (copy)="false" (cut)="false" (paste)="false" required>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password must be at least 8 characters
            <!-- Capitalized, special charater -->
          </div>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" appConfirmPassword="password" [(ngModel)]="user.password.confirmPassword"
            name="confirmPassword" #confirmPassword="ngModel" (paste)="false" required>
          <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
            Password mismatch
          </div>
        </div>
        <div>
          <label for="query">Email</label>
          <input type="text" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required>
          <div [hidden]="!err || email.pristine" class="alert alert-danger">
            Username or Email taken
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="user.terms" name="terms" required> Confirm that I've read the Terms and Conditions
        </label>
      </div>
      <p>Already have an account?
        <a routerLink="/userLogin">Log In</a>
      </p>
      <button type="submit" class="btn btn-success" [disabled]="!userSignUpForm.form.valid">Submit</button>

    </form>
  </div>
</div>