.boardgame-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.more-details{
    text-align: left
}

.container{
    text-align: center;
}

ul{
    list-style:none;
    padding-left:0;
}

/* .individual-game{
    margin: 6px;
    padding: 6px;
    text-align: center;
} */

#game-name{
    display: block;
    font-weight: bold;
}

#game-players, #game-playingtime, #game-rating{
    display: block;
    text-indent: 5%;
}