<div class="container">
  <h2>You Games</h2>
</div>

    <p>Game: {{i.name}}</p>
    <p class="more-details" [innerHTML]="i.description"></p>
    <img class="boardgame-img" src={{i.image}}>
  </div>


<div class="userGames">
  <div *ngFor="let i of games">
    <p>{{i.name}}</p>
    <button class="btn show-details" (click)="showDetails = !showDetails">more details</button>
    <div [hidden]="!showDetails">
      <div>
        <p class="more-details" [innerHTML]="i.description"></p>
        <img class="boardgame-img" src={{i.image}}>
      </div>
    </div>
    <!-- <button class="btn edit-game" (click)="editGame()" >edit game</button>
      <button class="btn remove-game" (click)="removeGame*()">remove game</button> -->
  </div>
</div>

