<div class="container">
  <h2>Your Games</h2>
</div>

<div class="search-results">
  <ul>
    <li *ngFor="let game of games" class="default-hidden individual-game">
      <span id="game-name">{{game.name}} </span>
      <span id="game-players">{{game.minplayers}}-{{game.maxplayers}} Players</span>
      <span id="game-playingtime">{{game.playingtime}} Minutes</span>
      <span id="game-rating">{{game.rating}} Rating</span>
      <app-boardgame-info [game]="game.UserBoardGame"></app-boardgame-info>
    </li>
  </ul>
</div>