.container{
    display: flex;
    justify-content: center;
    min-height: 95vh;
    min-width: 100vw;
    background-color: #E4F9F5;
}

h2{
    text-align: center;
    color: #11999E
}

p{
    margin: 14px;
}