<div class="container">
  <h2>User Log In Page</h2>
  <div class="container">
    <form (ngSubmit)="onSubmit()" #userLogInForm="ngForm">
      <div>
        <label for="query">Username</label>
        <input type="text" class="form-group" #userName="ngModel" [(ngModel)]="user.userName" name="userName" required>
        <div [hidden]="!err || userName.pristine" class="alert alert-danger">
          Incorrect Username or Password
        </div>
      </div>
      <div>
        <!-- what's the difference of type "password" vs "text" -->
        <label for="password">Password</label>
        <input type="password" class="form-group" #password="ngModel" [(ngModel)]="user.password" name="password" required>
        <div [hidden]="!err || password.pristine" class="alert alert-danger">
          Incorrect Username or Password
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!userLogInForm.form.valid">Submit</button>
      <button type="submit" class="btn btn-default default-hidden" (click)="forgotPassword()" disabled>Forgot Password</button>
      <button routerLink="/userSignUp">Sign Up</button>
    </form>
  </div>
</div>