<div class="container">
  <form (ngSubmit)="onSubmit()" #userLogInForm="ngForm">
    <h2>User Login</h2>
    <div>
      <label for="query">Username</label>
      <input type="text" class="form-group" #userName="ngModel" [(ngModel)]="user.userName" name="userName" required>
      <div [hidden]="!err || userName.pristine" class="alert alert-danger">
        Incorrect Username or Password
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input placeholder="Password" type="password" class="form-group" #password="ngModel" [(ngModel)]="user.password.password" name="password" autocomplete="off" required>
      <div [hidden]="!err || password.pristine" class="alert alert-danger">
        Incorrect Username or Password
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!userLogInForm.form.valid">Submit</button>
    <button type="submit" class="btn btn-default default-hidden" (click)="forgotPassword()" disabled>Forgot Password</button>
    <p>Don't have an account?
      <a routerLink="/userSignUp">Sign Up</a>
    </p>
    <p>Demo Account:
      <br />
      <span class="username">username: johnsmith</span>
      <br />
      <span class="password">password: password123</span>
    </p>
  </form>
</div>