<div class="container">
  <h1>About Boardgame Binder</h1>
  <p> Users search the library of nearly 10,000 games with filters such as title, number of players, and playing time.
    <br /> After signing up for an account, users can record game experieces and share via social media.
    <a href="https://boardgamegeek.com/">BoardGameGeek</a>.
  </p>
  <p>
    <a href="https://matthewlee07.github.io/portfolio-final/">Matt Lee</a> created this app to showcase his full stack
    abilites. Boardgame Binder uses Node, Express, PostgreSQL, Sequlize, AWS RDS, and Angular 5. <br />Read the
    <a href="https://medium.com/@devmattlee/exporting-10-000-sqlite-rows-to-heroku-c87c3e839cb4">Medium post</a> of
    Matt's experience of hosting data on Amazon RDS.</p>

  <h2>Using App</h2>
  <p>
    On home page, click "Submit" to start a search for boardgames. Optional filters include keyword, number of players,
    playing
    time, and rating indirectly from BoardGameGeeks.
    <br /> Click "more details" for game description and image. If already logged in, click "add game" to add game to
    personal
    binder; otherwise click "log in" to log in and then add game.
    <br /> Click "Sign Up" or use Demo Account to use account able to add game. Enter information on sign up form.
    Username and
    email must be unique; password must be minimum 7 characters and include a letter and number.
    <br /> When logged in, go to "My Binder" to manage personal games. Click "edit game" to save personal gameplay
    information.
    Click "remove game" to remove game from Binder.
  </p>
  <h2>Future improvements:</h2>
  <ul>
    <li>Unit Tests.</li>
    <li>Loading screen.</li>
    <li>Real email, signup & social media integration.</li>
    <li>Instructions on landing page.</li>
    <li>UI overhaul.</li>
  </ul>
</div>