<div class="container">
  <h1>About Boardgame Binder</h1>
  <p>Boardgame Binder has access to nearly 10,000 of your favorite boardgames! Find and track games with filters including number
    of players, playing time, and ratings per
    <a href="https://boardgamegeek.com/">BoardGameGeek</a>.
  </p>
  <p>[Matthew Lee/link to portfolio] created this app to showcase his full stack web dev abilites. Boardgame Binder uses Angular,
    Express, Node.js and SQLite + Sequlize.</p>
  <p>SQLite was chosen because of the
    <a href="https://www.kaggle.com/gabrio/board-games-dataset">open source dataset source.</a>
  </p>

  <h2>Using App</h2>
  <p>
    On home page, click "Submit" to start a search for boardgames. Optional filters include keyword, number of players, playing
    time, and rating per BoardGameGeeks.
    <br> Click "more details" for game description and image. If already logged in, click "add game" to add game to personal
    binder; otherwise click "log in" to log in and then add game.
    <br> Click "Sign Up" or use Demo Account to use account able to add game. Enter information on sign up form. Username and
    email must be unique; password must be minimum 7 characters and include a letter and number.
    <br> When logged in, go to "My Binder" to manage personal games. Click "edit game" to save personal gameplay information.
    Click "remove game" to remove game from Binder.
  </p>
  <h2>Further Features</h2>
  <ul>
    <li>Date of Birth with calendar at User Sign Up</li>
    <li>Ability to edit User Profile information</li>
    <li>Email registration, confirmation, and forgot password</li>
    <li>Better password guards on sign up</li>
    <li>Social networking integration</li>
  </ul>
</div>