<div class="container">
  <h1>Boardgame Binder</h1>
  <p>[Matthew Lee/link to portfolio] created this MVP to showcase his full stack web dev skills. Boardgame Binder uses SQL,
    Express, Angular, and Node.js </p>
  <p>Angular 5 template driven forms comprise most of the front-end. Guards and validation are in place to protect routes and
    data injection. Minimal CSS and Angular Material are used for aesthetics, with a mobile-first priority design.</p>
  <p>The back end uses SQLite because of the the
    <a href="https://www.kaggle.com/gabrio/board-games-dataset">dataset source.</a> Three tables are used in this relational DB in order to add boardgames to user's profile.
  </p>
  <p>[Instructions how to use app]</p>
  <p>Boardgame Binder has access to nearly 10,000 of your favorite boardgames! Find your next game with filters including number
    of players, playing time, and rating per
    <a href="https://boardgamegeek.com/">BoardGameGeek</a>
  </p>

  <p>Incomplete features includes editing User Profile information, social networking plugins, and email intigration such as confirming account creation and
    "forgot password" ability.</p>
</div>