<div class="right">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/home">Home</button>
        <button mat-menu-item routerLink="/userSignUp">Sign Up</button>
        <button mat-menu-item routerLink="/userLogin">Log In</button>
        <button mat-menu-item routerLink="/about">About</button>
        <!-- <button mat-menu-item routerLink="/userSettings">User Settings</button>
        <button mat-menu-item routerLink="/userBoardgames">User Boardgames</button> -->
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>