<div>
  <!-- !loggedIn() -->
  <button class="btn btn-default show-details" (click)="showDetails = !showDetails">more details</button>
  <button class="btn btn-default add-game" routerLink="/userLogin" *ngIf="!userservice.isLoggedIn()">login to add game</button>
  <!-- loggedIn() -->
  <button class="btn btn-default add-game" (click)="addGame()" *ngIf="userservice.isLoggedIn()">add game</button>
  <button class="btn btn-default edit-game" (click)="editGame()" *ngIf="userservice.isLoggedIn()">edit game</button>
  <button class="btn btn-default delete-game" (click)="deleteGame()" *ngIf="userservice.isLoggedIn()">remove game</button>
</div>

<div [hidden]="!showDetails">
  <div *ngIf="game">
    <p class="more-details" [innerHTML]="game.description"></p>
    <img class="boardgame-img" src={{game.image}}>
  </div>
</div>