<div>
  <button class="btn show-details" (click)="showDetails = !showDetails">more details</button>
  <!-- add check if user already has game -->
  <button class="btn add-game" (click)="addGame()" *ngIf="userservice.isLoggedIn()">add game</button>
  <button class="btn add-game" routerLink="/userLogin" *ngIf="!userservice.isLoggedIn()">login to add game</button>
  <button class="btn delete-game" (click)="deleteGame()" >remove game</button>
  <!-- if user is logged in:
  <button class="btn edit-game" (click)="editGame()">edit game</button>
-->
  <!-- <button class="btn add-game" (click)="addGame()" *ngIf="userservice.isLoggedIn() && userboardgameservice.hasGame()">user has game</button> -->
</div>

<div [hidden]="!showDetails">
  <div *ngIf="game">
    <p class="more-details" [innerHTML]="game.description"></p>
    <img class="boardgame-img" src={{game.image}}>
  </div>
</div>