<div class="container">
  <form (ngSubmit)="onSubmit()" #boardGameForm="ngForm" class="text-center">
    <div>
      <div class="form-group">
        <label for="query">Search By Title</label>
        <input type="text" class="form-control text-center" placeholder="Settlers of Catan" [(ngModel)]="boardgame.name"
          name="name">
      </div>
      <div class="form-group">
        <label for="numPlayers">Number of Players</label>
        <div class="filters">
          <div class="filter">Min
            <select [(ngModel)]="boardgame.minplayers" name="minplayers">
              <option *ngFor="let i of counter">{{i+1}}</option>
            </select>
          </div>
          <div class="filter">Max
            <select [(ngModel)]="boardgame.maxplayers" name="maxplayers">
              <option *ngFor="let i of counter">{{i+1}}</option>
            </select>
          </div>
        </div>
        <label for="playingTime">Playing Time (mins)</label>
        <div class="filters">
          <div class="filter">Min
            <select name="" id="" [(ngModel)]="boardgame.minplayingtime" name="minplayingtime">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
              <option value="60">60</option>
              <option value="90">90</option>
              <option value="120">120</option>
              <option value="300">300+</option>
            </select>
          </div>
          <div class="filter">Max
            <select name="" id="" [(ngModel)]="boardgame.maxplayingtime" name="maxplayingtime">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
              <option value="60">60</option>
              <option value="90">90</option>
              <option value="120">120</option>
              <option value="300">300+</option>
            </select>
          </div>
        </div>
        <label for="rating">Rating</label>
        <div class="filters">
          <div class="filter">Min
            <select name="" id="" [(ngModel)]="boardgame.minrating" name="minrating">
              <option *ngFor="let i of ratings">{{i}}</option>
            </select>
          </div>
          <div class="filter">Max
            <select name="" id="" [(ngModel)]="boardgame.maxrating" name="maxrating">
              <option *ngFor="let i of ratings">{{i}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!boardGameForm.form.valid" (click)="search_button()">Submit</button>

    <button type="submit" class="btn btn-default" (click)="onReset(); submitted=false">Reset</button>
  </form>
</div>
<div [hidden]="!submitted">
  <ul>
    <li *ngFor="let game of boardgames" class="individual-game">
      <span id="game-name">{{game.name}} </span>
      <span id="game-players">{{game.minplayers}}-{{game.maxplayers}} Players</span>
      <span id="game-playingtime">{{game.playingtime}} Minutes</span>
      <span id="game-rating">{{game.rating}} Rating</span>
      <app-boardgame-info [game]="game"></app-boardgame-info>
    </li>
  </ul>
  <section class="pagination">
    <button class="btn btn-default page_count previous_page" (click)="previous_page()">&#8249;</button>
    <span class="page_count page_counter">{{boardgameservice.page+1}}</span>
    <button class="btn btn-default page_count next_page" (click)="next_page()">&#8250;</button>
    <button class="btn scroll" (click)="top_page()">Top</button>
  </section>
</div>