<div class="container">
  <form (ngSubmit)="onSubmit()" #boardGameForm="ngForm">
    <h2>Filter games</h2>
    <div class="form-group">
      <div>
        <label for="query">Search games</label>
        <input type="text" class="js-query" placeholder="ie. Settlers of Catan" [(ngModel)]="boardgame.name" name="name">
      </div>
      <label for="numPlayers">Number of Players</label>
      Min
      <select name="" id="" opt [(ngModel)]="boardgame.minplayers" name="minplayers">
        <option *ngFor="let i of counter">{{i+1}}</option>
      </select>
      Max
      <select name="" id="" [(ngModel)]="boardgame.maxplayers" name="maxplayers">
        <option *ngFor="let i of counter">{{i+1}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="playingTime">Playing Time (minutes)</label>
      Min
      <select name="" id="" [(ngModel)]="boardgame.minplayingtime" name="minplayingtime">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="300">300+</option>
      </select>
      Max
      <select name="" id="" [(ngModel)]="boardgame.maxplayingtime" name="maxplayingtime">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="300">300+</option>
      </select>
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      Min
      <select name="" id="" [(ngModel)]="boardgame.minrating" name="minrating">
        <option *ngFor="let i of ratings">{{i}}</option>
      </select>
      Max
      <select name="" id="" [(ngModel)]="boardgame.maxrating" name="maxrating">
        <option *ngFor="let i of ratings">{{i}}</option>
      </select>
    </div>
    <!-- what? [disabled]="!boardGameForm.form.valid"  -->
    <button type="submit" class="btn btn-success" [disabled]="!boardGameForm.form.valid" (click)="search()">Submit</button>
    <!-- type="reset" vs submit-->
    <button type="submit" class="btn btn-default default-hidden" (click)="onReset(); submitted=false">Reset</button>

  </form>
</div>

<div [hidden]="!submitted">
  <h2>Submitted status: {{this.submitted}}</h2>
  <ul>
    <li *ngFor="let game of boardgames" class="default-hidden individual-game">
      <span id="game-name">{{game.name}}, </span>{{game.minplayers}}-{{game.maxplayers}} players, {{game.playingtime}} minutes, {{game.rating}}
      rating
      <app-boardgame-info [game]="game"></app-boardgame-info>
    </li>
  </ul>
</div>