.container{
    display: flex;
    justify-content: center
}

ul{
    list-style:none;
    padding-left:0;
}

.individual-game{
    margin: 6px;
    padding: 6px;
}

#game-name{
    display: block;
    font-weight: bold;
}

#game-players, #game-playingtime, #game-rating{
    display: block;
    text-indent: 5%;
}