.container{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px 2px #11999E44;
    padding: 2px;
    border-radius: 4px;
    width: 75%;
}

.pagination{
    display: flex;
    justify-content: center;
}

ul{
    list-style:none;
    padding-left:0;
}

.individual-game{
    margin: 6px;
    padding: 6px;
    text-align: center
}

.individual-game:nth-of-type(odd){
    background-color: #30E3CA
}

.individual-game:nth-of-type(even){
    background-color: #11999E
}

#game-name{
    font-weight: bold;
}

#game-players, #game-playingtime, #game-rating{
    display: block;
}

.page_count{
    padding:4px;
}

.filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

@media (min-width:640px){
    .container{
        width:50%;
    }
}