.container{
    display: flex;
    justify-content: center;
}

ul{
    list-style:none;
    padding-left:0;
}

.individual-game{
    margin: 6px;
    padding: 6px;
    text-align: center
}

#game-name{
    display: block;
    font-weight: bold;
}

#game-players, #game-playingtime, #game-rating{
    display: block;
    text-indent: 5%;
}

.text-center{
    text-align: center;
}

.space-around{
    border: 1px solid red;
}