<div class="container">
  <h1>Search Boardgames</h1>
  <section>filter options</section>
  number of players
  <select name="" id="" opt>
    <option *ngFor="let i of counter">{{i}}</option>
  </select>
  playing time
  <select name="" id="">
    <option value="15">15</option>
    <option value="30">30</option>
  </select>
  Minimum Rating
  <select name="" id="">
    <option *ngFor="let i of ratings">{{i}}</option>

  </select>
  <section>
    Results
    <ul>
      <li>boardgame1</li>
      <li>boardgame2</li>
      <li>boardgame3</li>
      <li>boardgame4</li>
      <li>boardgame5</li>
    </ul>
  </section>
</div>