html, body{
    min-height:100%;
}

h1{
    text-align: center;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #E4F9F5;
}

.text-center{
    text-align: center;
}

.welcome{
    font-size: 24px;
}